body {
  font-family: "Montserrat", sans-serif;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
}

/* all piles of pictures */
.album--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-content: space-around;
}

/* wrapper for the pile of pictures */
.album--link--wrapper {
  margin: 3em;
  width: 15em;
  height: 15em;
}

/* the pile of pictures */
.album--link {
  position: relative;
}

/* each photo */
.photo--wrapper {
  display: inline;
  position: absolute;
  transform-origin: 50% 50%;
}

.photo--wrapper img {
  border-radius: 10px;
}

.photo--wrapper__frame img {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  max-height: 13em;
  max-width: 13em;
}

.album--name__wrapper {
  position: absolute;
  width: 16em;
}

.album--name {
  color: white;
  font-size: 2em;
  z-index: 100;
  position: relative;
  display: block;
  text-align: center;
  top: 6.5em;
}

.slideshow--wrapper {
  padding: 5vh 5vw;
}

.slideshow--image {
  max-width: 90vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow--nav {
  position: fixed;
  top: 50%;
}

.slideshow--nav__left {
  left: 0;
}
.slideshow--nav__right {
  right: 0;
}
